.buttonImg {
    height: auto;
    width: auto;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    background-image: none;
    border: 0 none;
    /* added these */
    margin: 2px;
    padding: 14px;
}

.buttonImg:focus,:active:focus {
        outline: 0 none;
        border: 0 none;
}

.site-button-ghost-wrapper {
    padding: 8px 8px 0 8px;
    background: rgb(190, 200, 200);
    border-radius: 50%;
  }