body {
  font-family: "Lato", sans-serif;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 10rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;

    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-out;
    }
}

.heading-secondary, .heading-secondary-white {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    @include backgroundText($color-primary, $color-primary-dark);
    letter-spacing: .2rem;
    &-white {
      @include backgroundText($color-black, $color-primary-light);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.heading-content {
  @include backgroundText($color-tertiary-dark, $color-primary-dark);
  font-size: 2rem;
  font-weight: 600;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
      margin-bottom: 3rem;
  }
}

@media screen and (max-width: 650px) {
    .heading-primary {
      &--main {
        letter-spacing: 0.75rem;
      }
      &--sub {
        letter-spacing: 0.25rem;
      }
    }
  }

@media screen and (max-width: 450px) {
    .heading-primary {
      &--main {
        font-size: 2rem;
      }
    }
  }