.article-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
    background: linear-gradient(
      to right, 
      hsl(98 100% 62%), 
      hsl(204 100% 59%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-align: center; */
  }

  .tabsNav {
    margin: 32px auto;
    width: 80vw;
  }

  .content-main {
    animation-name: movieInUp;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  @keyframes movieInUp {
    0% {
      opacity: 0;
      transform: translateY(3rem);
    }
    50% {
      opacity: 0.5;
      transform: translateY(1rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }